.login-container {
    width: 350px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid #130101;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(223, 232, 234);
}

h2 {
    text-align: center;
    color: #074180;
}

input {
    width: 80%;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
    border: 1px solid #130101;
    border-radius: 4px;
}

button {
    width: 86.5%;
    padding: 10px;
    margin-left: 20px;
    background-color: #074180;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}
